* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards-body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #777;
  margin-bottom: 30px;
  margin-top: 30px;
}

.wrap {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  max-width: 1200px;
  margin: auto;
}


.cards img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  margin: auto;
}

.cards {
  width: 45%;
  min-width: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cards h3 {
  padding: 5px;
  text-align: center;
  padding-bottom: 5px;
  color: white;
  text-decoration: underline dashed;
  font-size: 1.5em;
}
